@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body,
h1,
h2,
h3,
h4,
h5,
p {
	font-family: 'Euclid';
}

@font-face {
	font-family: 'Euclid';
	src: url('../fonts/EuclidSquare/EuclidSquare-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Euclid';
	src: url('../fonts/EuclidSquare/EuclidSquare-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Euclid';
	src: url('../fonts/EuclidSquare/EuclidSquare-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Euclid';
	src: url('../fonts/EuclidSquare/EuclidSquare-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Euclid';
	src: url('../fonts/EuclidSquare/EuclidSquare-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

.scaleButton:hover {
	transform: perspective(1px) scale(1.03);
}

.rulerData {
	position: fixed;
	width: 0;
	height: 0;
	z-index: 2147483646;
	cursor: crosshair;
	top: 0;
	left: 0;
	display: block !important;
}
.xAxis.rulerAxis {
	height: 1px;
}
.rulerAxis {
	position: absolute;
	background: rgb(3, 218, 198);
}
.yAxis.rulerAxis {
	width: 1px;
}
.rulerAxis {
	position: absolute;
	background: rgb(3, 218, 198);
}
.rulerTooltip {
	position: absolute;
	left: 5px;
	bottom: 4px;
	color: white;
	text-align: center;
	white-space: nowrap;
	font-size: 12px;
	line-height: 20px;
	font-family: sans-serif;
	direction: ltr;
	box-sizing: border-box;
	padding: 0px 5px;
	border-radius: 3px;
	background: rgba(0, 30, 51, 0.55);
}
.rulerAxis::before,
.rulerAxis::after {
	content: '';
	position: absolute;
	background: inherit;
}
.xAxis.rulerAxis::before,
.xAxis.rulerAxis::after {
	left: 0px;
	height: 5px;
	top: -2px;
	width: 1px;
}
.yAxis.rulerAxis::before,
.yAxis.rulerAxis::after {
	left: -2px;
	height: 1px;
	top: 0px;
	width: 5px;
}
.xAxis.rulerAxis::after {
	left: 100%;
}
.yAxis.rulerAxis::after {
	top: 100%;
}
