.rulerData {
	position: fixed;
	width: 0;
	height: 0;
	z-index: 2147483646;
	cursor: crosshair;
	top: 0;
	left: 0;
	display: block !important;
}
.xAxis.rulerAxis {
	height: 1px;
}
.rulerAxis {
	position: absolute;
	background: rgb(0, 212, 190);
}
.yAxis.rulerAxis {
	width: 1px;
}
.rulerAxis {
	position: absolute;
	background: rgb(0, 212, 190);
}
.rulerTooltip {
	position: absolute;
	left: 7px;
	bottom: 6px;
	padding: 1px 10px;
	color: white;
	text-align: center;
	white-space: nowrap;
	font-size: 12px;
	line-height: 25px;
	direction: ltr;
	border-radius: 4px;
	background: rgba(15, 17, 29, 0.95);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: rgb(0 0 0 / 15%) 0.15em 0.15em 0.2em !important;
	font-family: system-ui, -apple-system, sans-serif;
}
.rulerAxis::before,
.rulerAxis::after {
	content: '';
	position: absolute;
	background: inherit;
}
.xAxis.rulerAxis::before,
.xAxis.rulerAxis::after {
	left: 0px;
	height: 5px;
	top: -2px;
	width: 1px;
}
.yAxis.rulerAxis::before,
.yAxis.rulerAxis::after {
	left: -2px;
	height: 1px;
	top: 0px;
	width: 5px;
}
.xAxis.rulerAxis::after {
	left: 100%;
}
.yAxis.rulerAxis::after {
	top: 100%;
}
