/** Page Ruler **/
.rulerOverlay {
	cursor: crosshair !important;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2147483645;
}

.rulerDimensions {
	position: fixed;
	width: 0;
	height: 0;
	z-index: 2147483644;
	pointer-events: none;
}

.rulerTooltip {
	position: absolute;
	left: 7px;
	bottom: 6px;
	padding: 1px 10px;
	color: white;
	text-align: center;
	white-space: nowrap;
	font-size: 12px;
	line-height: 25px;
	direction: ltr;
	border-radius: 4px;
	background: hsla(231.429, 32%, 9%, 0.95);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: hsla(0, 0%, 0%, 0.15) 0.15em 0.15em 0.2em !important;
	font-family: system-ui, -apple-system, sans-serif;
}

.rulerTooltip.left {
	left: auto;
	right: 7px;
}

.rulerTooltip.bottom {
	bottom: auto;
	top: 6px;
}

.rulerAxis {
	position: absolute;
	background: hsla(0, 100%, 50%, 1);
}

.rulerAxis:before,
.rulerAxis:after {
	content: '';
	position: absolute;
	background: inherit;
}

.x.rulerAxis:before,
.x.rulerAxis:after {
	left: 0;
	height: 5px;
	top: -2px;
	width: 1px;
}

.x.rulerAxis:after {
	left: 100%;
}

.y.rulerAxis:before,
.y.rulerAxis:after {
	left: -2px;
	height: 1px;
	top: 0;
	width: 5px;
}

.y.rulerAxis:after {
	top: 100%;
}

.x.rulerAxis {
	height: 1px;
}

.y.rulerAxis {
	width: 1px;
}
/** Page Ruler **/

/**  Page Guidelines + Move Element **/
.pageGuidelinesOutline {
	outline: red solid 2px !important;
}
.pageGuidelinesWrapper > svg {
	position: absolute;
	top: 0;
	left: 0;
	overflow: visible;
	pointer-events: none;
	z-index: 2147483645;
}

.pageGuidelinesWrapper line {
	stroke: rgb(255, 26, 26);
	stroke-dasharray: 2;
}
.moveElementDraggable {
	cursor: move !important;
}
/**  Page Guidelines + Move Element **/
