@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body,
h1,
h2,
h3,
h4,
h5,
p {
	font-family: 'Euclid';
}

/**  Custom Font **/
@font-face {
	font-family: 'Euclid';
	src: url('../fonts/EuclidSquare/EuclidSquare-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Euclid';
	src: url('../fonts/EuclidSquare/EuclidSquare-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Euclid';
	src: url('../fonts/EuclidSquare/EuclidSquare-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Euclid';
	src: url('../fonts/EuclidSquare/EuclidSquare-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Euclid';
	src: url('../fonts/EuclidSquare/EuclidSquare-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
/**  Custom Font **/

.scaleButton:hover {
	transform: perspective(1px) scale(1.03);
}

/**  Custom Checkbox **/
.form-check-input:disabled {
	filter: none;
	opacity: 0.5;
	pointer-events: none;
}

.form-check-input:checked[type='checkbox'] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.form-check-input[type='checkbox']:indeterminate {
	background-color: #0d6efd;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
	border-color: #0d6efd;
}
/**  Custom Checkbox **/

/**  Custom Scrollbar **/
#toggleSettingsChild {
	overflow-y: scroll !important;
}

#toggleSettingsChild::-webkit-scrollbar {
	width: 0px;
}

#toggleSettingsChild::-webkit-scrollbar-track {
	background: #00000000;
}

#toggleSettingsChild::-webkit-scrollbar-thumb {
	background: #00000000;
}
/**  Custom Scrollbar **/
