@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body,
h1,
h2,
h3,
h4,
h5,
p {
	font-family: 'Euclid';
}

/**  Custom Font **/
@font-face {
	font-family: 'Euclid';
	src: url('../fonts/EuclidSquare/EuclidSquare-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Euclid';
	src: url('../fonts/EuclidSquare/EuclidSquare-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Euclid';
	src: url('../fonts/EuclidSquare/EuclidSquare-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Euclid';
	src: url('../fonts/EuclidSquare/EuclidSquare-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Euclid';
	src: url('../fonts/EuclidSquare/EuclidSquare-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
/**  Custom Font **/

.scaleButton:hover {
	transform: perspective(1px) scale(1.03);
}

/**  Custom Checkbox **/
.checkBox:disabled {
	filter: none;
	opacity: 0.5;
	pointer-events: none;
}

.checkBox:checked[type='checkbox'] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
/**  Custom Checkbox **/

/**  Custom Scrollbar **/
#toggleInfoChild,
#toggleSettingsChild,
#colorPalettePageChild {
	overflow-y: scroll !important;
}

#toggleInfoChild::-webkit-scrollbar,
#toggleSettingsChild::-webkit-scrollbar,
#colorPalettePageChild::-webkit-scrollbar {
	width: 2px;
}

#toggleInfoChild::-webkit-scrollbar-track,
#toggleSettingsChild::-webkit-scrollbar-track,
#colorPalettePageChild::-webkit-scrollbar-track {
	background: #00000000;
}

html:not(.dark) #toggleInfoChild::-webkit-scrollbar-thumb,
html:not(.dark) #toggleSettingsChild::-webkit-scrollbar-thumb,
html:not(.dark) #colorPalettePageChild::-webkit-scrollbar-thumb {
	background: #6c757dff;
}

html.dark #toggleInfoChild::-webkit-scrollbar-thumb,
html.dark #toggleSettingsChild::-webkit-scrollbar-thumb,
html.dark #colorPalettePageChild::-webkit-scrollbar-thumb {
	background: #6c757dff;
}
/**  Custom Scrollbar **/
